*.log

/log/
BlogoShop.yml
/.settings/
/.idea/*
/node_modules/*
/.sass-cache/*
.project
/public/files/i/item/
/public/files/i/post/
/public/files/i/special/
/public/files/i/brands/
/public/files/i/banners/
/public/files/i/statics/
/public/vendors/*
