*.log
/log/
BlogoShop.yml
robots.txt
/.settings/
.project
/public/files/i/item/
/public/files/i/post/
/public/files/i/special/
/public/files/i/brands/
/public/files/i/banners/
/public/files/i/statics/
