---
mojo_mode: 'development' # 'production'
log_level: 'debug' # 'warn'

db_name: 'blogoshop'
db_host: '127.0.0.1'
db_port: 27017

domain_name: 'xoxloveka.ru'

hypnotoad:
  workers: 4
  listen: 
  - http://*:8080
  lock_file: /var/lock/blogoshop.lock 
  pid_file: /var/run/blogoshop.pid 
  user: techtim 
  group: techtim
  proxy: 1

image_dir: '/opt/blogoshop/public/files/i/'
default_img_dir: 'default'
image_url: '/i/'
nginx_img_resize: '/res/64'
nginx_res_post_prev: '/res/212'
nginx_res_item_prev: '/res/152'
nginx_res_item_main: '/res/338'
nginx_res_banner: '/res/400'

cookie_name: 'BlogoShop'
cookie_domain: '.dev.xoxloveka.ru'
cookie_expiration: 604800 # week
cookie_secret: '$w3Etx0X|_o\/eKa'

block_voter_ip_time: 180 # 3 min

articles_on_page: 9
articles_on_startpage: 9
articles_on_brandpage: 6
related_articles_count: 3

items_on_page: 16
items_on_startpage: 8

articles_on_admin_page: 30

superadmin_mail: 'xoxloveka.shop@gmail.com'
order_delete_power: 'vladimir'

recaptcha_public_key: '6Lc9jtISAAAAABMneliM7sxkpvWGa6yT7iuk_Nd6'
recaptcha_private_key: '6Lc9jtISAAAAAM6wAcAjkq5D3v4E2-sJoOnRsMjk'

qiwi_id: 231734
qiwi_pass: '88original7'

logistics_id: 'e78025d0ae6757f573ebc9a3dfec764b'