<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <link rel="stylesheet" href="../../public/files/css/layouts/intro.css" />
</head>
<body>
    <div class="showcase"
         data-top="transform: translate3d(0px, 0px, 0px);"
         data-230="transform: translate3d(0px, -200px, 0px);">
        <div class="showcase__wrapper">
            <img src="../../public/files/i/other-layouts/intro/showcase/1.jpg" />
        </div>
    </div>
    <div class="wrapper">
        <header class="header">
            <a class="logo" href="#" title="Shop HOHLOVKA"></a>
            <div class="button-wrapper">
                <a href="#" class="pseudo-button pseudo-button--contacts">Contacts & about</a>
                <a href="#" class="pseudo-button pseudo-button--intro is-hidden">Look book</a>
            </div>
        </header>

        <div class="content content--showcase">
            <div class="content__wrapper">
                <div class="content__layer content__item-description">

                    <div class="content__item-description--1">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Grey vest with a red checked inner part, a large collar
                                and many combinations of fastening. The look is topped with dark olive dress
                                shirt. </h3>

                            <h3 class="caption caption--sub-title">Жилет серый с красной клеткой и темно оливковая
                                платье-рубашка. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Amano, TOTO / Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--2 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Asymmetric dress made ​​of thick cotton fabric.</h3>

                            <h3 class="caption caption--sub-title">Асимметричное платье из плотной хлопковой ткани.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Amano / Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--3 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Cotton dress with very long, detachable sleeves. Note: you can make the dress into something completely different using the sleeves as Greek-style belts!</h3>

                            <h3 class="caption caption--sub-title">Платье из хлопка с очень длинными,отстегивающимися рукавами, за счет которых можно самостоятельно формировать свой силуэт.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">ISLA /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--4 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Black tulip dress with stitched pleats on the top part.</h3>

                            <h3 class="caption caption--sub-title">Черное платье-тюльпан с прострочкой в верхней части.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Perversus / Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--5 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Free-cut jacket with a belt. Seamed side pockets. Made of lodena wool with a lining of woolen knitwear.</h3>

                            <h3 class="caption caption--sub-title">Жакет свободного кроя с поясом. Карманы в боковых швах. Выполнен из шерстяного лодена, подборт из шерстяного трикотажа.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Perversus /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--6 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Model made of thick cotton. Not as simple as it looks like - the front part is made in the shape of an apron and the rear - as a coat. Can be worn as a dress, a long jacket or a coat. </h3>

                            <h3 class="caption caption--sub-title">Модель из плотной шерсти. Сзади элементы фрака. Передняя часть оформлена как фартук. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Intro.Version /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--7 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Classical dress shirt with pleats and a belt.</h3>

                            <h3 class="caption caption--sub-title">Платье-рубашка с оборками и поясом.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Perversus /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--8 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Pencil dress with hand-made belt applique work. Applique pattern is reminiscent of origami. </h3>

                            <h3 class="caption caption--sub-title">Платье с накладными аппликациями. Напоминают оригами.</h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Perversus /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--9 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Two-sided raincoat with belt. Deep olive and light blue top. Silhoutte reminding of kimono.</h3>

                            <h3 class="caption caption--sub-title">Двух-сторонний плащ-дождевик на поясе. Глубокий оливковый и светло голубой вверх. Силуэт напоминает кимоно. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Intro.Version /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--10 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Woolen coat with geometric patterns. Designer explores the combination of different colors and textures of autumn.</h3>

                            <h3 class="caption caption--sub-title">Шерстянное пальто с геометричными узорами. Дизайнер исследует сочетания разных осенних цветов и фактур. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">ТОТО /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--11 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Asymmetrical coat with a large collar and many combinations of fastening. 100% wool.</h3>

                            <h3 class="caption caption--sub-title">Пальто ассиметричное с большим воротом и количеством комбинаций застегивания.
                                100% шерсть. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Amano /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--12 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Asymmetrical coat with a large collar and many combinations of fastening. 100% wool.</h3>

                            <h3 class="caption caption--sub-title">Пальто ассиметричное с большим воротом и количеством комбинаций застегивания.
                                100% шерсть. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Amano /Moscow</h3>
                        </aside>
                    </div>
                    <div class="content__item-description--13 is-hidden">
                        <aside class="content__side-bar">
                            <h3 class="caption caption--title">Asymmetrical coat with a large collar and many combinations of fastening. 100% wool.</h3>

                            <h3 class="caption caption--sub-title">Пальто ассиметричное с большим воротом и количеством комбинаций застегивания.
                                100% шерсть. </h3>
                        </aside>
                        <aside class="content__side-bar content__side-bar--right content__side-bar--text-right">
                            <h3 class="caption caption--title">Amano /Moscow</h3>
                        </aside>
                    </div>
                </div>
            </div>

            <nav class="content__navigation">
                <a href="" class="content__navigation-arrow content__navigation-arrow--left content__navigation-arrow--disabled"></a>
                <a href="" class="content__navigation-arrow content__navigation-arrow--right"></a>
            </nav>
        </div>

        <div class="content content--contacts is-hidden">
            <aside class="content__side-bar">
                <h2 class="caption caption--with-bg">About us</h2>

                <p class="text text--gray">Well, first of all i should mention that in the Khokhlovskiy Lane, 7., you can find an art-centre
                    which is located in an old building which itself is quite a story and a piece of Moscow
                    architecture.</p>

                <p class="text text--gray">It was built in XVII cent, and it used to be a living quarters for a russian diplomat. Next, in XVIII
                    cent. there was the archive of the Ministry of Foreign Affairs. It was, basically, a big library
                    with capacity to issue books.</p>

                <p class="text text--gray">Famous russian poet, Alexander Pushkin, used to visit this place very often. In XIX cent. it was
                    bought by a person who used the facility to issue music notes, later he became the biggest music
                    notes publisher in Russia.</p>

                <p class="text text--gray">For example, Chaikovskiy was first officially published here, in Khokhlovskiy, 7. Later, the
                    publishing house was closed and the building was abandoned for several years until some rooms were
                    rented by young artists who used them as workshops.</p>
            </aside>
            <aside class="content__side-bar content__side-bar--without-caption">
                <p class="text text--white">We have a shop here, in Khokhlovskiy, 7. It provides mostly clothes made by outstanding Russian
                    designers (though we also have some jewelery in stock). We surely follow the trends - but we don’t
                    sell popular brands, we focus on local items.</p>

                <p class="text text--white">We have discovered lot of independent talents. Stylistically our consumer is into smart casual
                    clothing. People who buy from us can be called creative class of Moscow, they combine business and
                    leisure time within a day.</p>

                <p class="text text--white">We carefully choose the people we work with - and as the result we receive very special collections
                    of fine quality. In our shop one can find unique pieces of clothing and accessories that you won't
                    find anywhere else. More than that, we’ve got an online shop and a blog. </p>

            </aside>
            <aside class="content__side-bar content__side-bar--contacts">
                <h2 class="caption caption--with-bg">Contact us</h2>
                <div class="contacts__wrapper">
                    <p class="contacts__text"><strong>ADDRESS:</strong> <a href="https://www.google.ru/maps/place/%D1%88%D0%BE%D1%83-%D1%80%D1%83%D0%BC+%D0%A5%D0%BE%D1%85%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0+Original/@55.755864,37.642979,17z/data=!4m2!3m1!1s0x0:0x6e5f5efb93ded6f4?hl=ru">
                        Russia, Moscow, 101000, Khokhlovsky lane 7-9,</a> </p>

                    <p class="contacts__text">
                        <strong>E-mail:</strong> <a href="mailto:xoxloveka.office@gmail.com">xoxloveka.office@gmail.com</a>
                    </p>

                    <p class="contacts__text"><strong>Please call us for immediate answers to questions:</strong>
                        +7 926 176 41 56</p>
                </div>
            </aside>
        </div>
    </div>
    <script src="../../public/vendors/jquery/dist/jquery.js"></script>
    <script src="../../public/vendors/jquery.transit/jquery.transit.js"></script>
    <script src="../../public/vendors/underscore/underscore.js"></script>
    <script src="../../public/vendors/skrollr/src/skrollr.js"></script>
    <script src="../../public/files/j/other-layouts/intro.js"></script>
</body>
</html>