@mixin placeholder($color)
	&::placeholder
		padding-left: 8px
		color: $color
		font:
			family: $font-stack
			size: 12px
			weight: bold
		text-transform: uppercase

@mixin disabled
	cursor: default
	user-select: none


.clearfloat
	display: inline-block

	&:after
		content: "."
		display: block
		height: 0
		clear: both  !important
		visibility: hidden
