.shop-description
	position: relative
	float: right

	&__button
		position: absolute
		right: 0

		&--opened
			top: -37px

	&.activ
		h4
			display: block

	&__text
		padding-bottom: 10px
		color: #aeaeae
		font:
			size: 10px



