.shop-item

	&__brand-link
		color: #555555

	&__tag-link
		margin-right: 4px

	&__price
		color: #434343 !important
		font-size: 20px !important

	&__price--old
		margin-right: 6px
		color: #e60000
		font-size: 18px