.shop-description
	position: relative
	float: right

	&__button
		position: absolute
		top: -32px
		right: 0

	&.active
		h4
			display: block

	&__text
		padding-bottom: 10px
		color: #aeaeae
		font:
			size: 10px



