.clearfloat {
  display: inline-block; }

.clearfloat:after {
  content: ".";
  display: block;
  height: 0;
  clear: both  !important;
  visibility: hidden; }

* html .clearfloat {
  height: 1%; }

.clearfloat {
  display: block; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

body {
  padding-top: 1px;
  background: url("../i/body-bg.png") repeat-x left top;
  font-family: Arial, sans-serif; }

.wrap {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 60px; }

.header__section {
  height: 71px;
  margin-bottom: 10px;
  background: url("../i/header/bg.png") repeat-x left top;
  border-bottom: 8px solid #e60000; }
  .header__section h1 {
    height: 52px;
    width: 222px;
    float: left;
    margin-top: 10px;
    margin-left: 10px; }
  .header__section a {
    display: block;
    height: 52px;
    width: 222px;
    background: url("../i/header/logo.png") no-repeat; }
  .header__section .row {
    padding-top: 8px;
    padding-right: 12px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase; }
    .header__section .row label {
      color: #bfbfbf; }

.fixed__navigation__helper {
  z-index: 2; }
  .fixed__navigation__helper .navigation__section {
    height: 32px;
    margin-bottom: 18px;
    border-top: 1px dotted #444;
    border-bottom: 1px dotted #444;
    font-size: 13px;
    line-height: 32px;
    overflow: hidden; }
    .fixed__navigation__helper .navigation__section ul {
      float: left;
      width: 770px; }
      .fixed__navigation__helper .navigation__section ul li {
        float: left;
        margin-left: 42px; }
        .fixed__navigation__helper .navigation__section ul li:first-child {
          margin-left: 0; }
      .fixed__navigation__helper .navigation__section ul a {
        color: #444;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase; }
        .fixed__navigation__helper .navigation__section ul a.current {
          color: #e60000; }
        .fixed__navigation__helper .navigation__section ul a:hover {
          color: #e60000;
          text-decoration: underline; }
        .fixed__navigation__helper .navigation__section ul a.disabled {
          color: #aeaeae;
          cursor: default; }
          .fixed__navigation__helper .navigation__section ul a.disabled:hover {
            color: #aeaeae;
            text-decoration: none; }
    .fixed__navigation__helper .navigation__section .shopping__cart__section {
      float: right; }
      .fixed__navigation__helper .navigation__section .shopping__cart__section.empty {
        color: #aeaeae; }
  .fixed__navigation__helper.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background: #e6e6e6; }
    .fixed__navigation__helper.active .navigation__section {
      width: 980px;
      margin: 0 auto;
      border: 0; }

.sidebar__section {
  width: 260px; }
  .sidebar__section h2 {
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #a1a1a1;
    color: #b4b4b4;
    font-size: 13px;
    text-transform: uppercase; }
  .sidebar__section .title {
    color: #959494;
    font-size: 11px;
    font-style: italic; }
  .sidebar__section ul {
    margin-bottom: 4px; }
  .sidebar__section li {
    padding-bottom: 8px; }
    .sidebar__section li a {
      margin-left: 12px;
      color: #444;
      font-size: 13px;
      text-decoration: none;
      text-transform: uppercase; }
      .sidebar__section li a.current {
        color: #e60000; }
      .sidebar__section li a:hover {
        color: #e60000;
        text-decoration: underline; }
  .sidebar__section .subscribe__section {
    padding-top: 54px;
    background: url("../i/subscribe-bg.png") no-repeat center 11px;
    border-top: 1px dotted #a1a1a1; }
    .sidebar__section .subscribe__section label {
      display: block;
      padding-bottom: 10px;
      color: #959494;
      font-size: 10px;
      font-style: italic;
      line-height: 13px;
      text-align: center; }
    .sidebar__section .subscribe__section input[type='text'] {
      display: block;
      width: 100%;
      height: 20px;
      border: 1px solid #c1c1c1;
      line-height: 20px; }
      .sidebar__section .subscribe__section input[type='text']:after {
        content: '';
        display: block;
        width: 230px;
        height: 20px;
        margin-top: 2px;
        background: url("../i/subscribe-shadow.png") no-repeat; }
    .sidebar__section .subscribe__section input[type='submit'] {
      display: block;
      width: 102px;
      height: 22px;
      margin: 20px auto;
      background: url("../i/submit-bg.png") repeat-x left top;
      border: 0;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 11px;
      font-style: italic; }

.content__section {
  width: 680px;
  float: right; }
  .content__section .caption__section {
    position: relative;
    margin-top: 34px;
    border-top: 1px dotted #a1a1a1; }
    .content__section .caption__section h2 {
      position: absolute;
      left: 50%;
      top: -4px;
      text-indent: -9999px; }

.carousel {
  height: 330px;
  position: relative;
  padding-bottom: 10px; }
  .carousel .items {
    display: block;
    height: 330px;
    width: 680px;
    overflow: hidden; }
    .carousel .items a {
      display: block;
      height: 330px;
      width: 680px; }
  .carousel .jcarousel-clip {
    width: 680px;
    overflow: hidden; }
  .carousel .jcarousel-prev {
    position: absolute;
    left: 8px;
    top: 140px;
    width: 31px;
    height: 49px;
    background: url("../i/carousel-arrows-spr.png") no-repeat left top;
    cursor: pointer;
    visibility: hidden; }
    .carousel .jcarousel-prev.hover {
      background-position: 2px bottom; }
  .carousel .jcarousel-prev-disabled {
    visibility: hidden!important; }
  .carousel .jcarousel-next {
    position: absolute;
    right: 8px;
    top: 140px;
    width: 31px;
    height: 49px;
    background: url("../i/carousel-arrows-spr.png") no-repeat right top;
    cursor: pointer;
    visibility: hidden; }
    .carousel .jcarousel-next.hover {
      background-position: right bottom; }
  .carousel .jcarousel-next-disabled {
    visibility: hidden!important; }
  .carousel .controls {
    position: absolute;
    bottom: -10px;
    left: 50%; }
    .carousel .controls li {
      float: left;
      margin-left: 5px; }
      .carousel .controls li.first {
        margin-left: 0; }
      .carousel .controls li a {
        display: block;
        height: 11px;
        width: 13px;
        background: url("../i/carousel-controls-spr.png") no-repeat;
        text-decoration: none; }
        .carousel .controls li a.current {
          position: relative;
          top: 1px;
          background-position: right bottom; }

.blogs__section h2 {
  height: 10px;
  width: 78px;
  margin-left: -39px;
  background: url("../i/captions/blog.png") no-repeat; }
.blogs__section ul {
  padding-top: 18px; }
.blogs__section li {
  float: left;
  width: 212px;
  margin-right: 20px;
  margin-bottom: 36px; }
  .blogs__section li:nth-child(3n+3) {
    margin-right: 0; }
  .blogs__section li a {
    display: block;
    text-decoration: none; }
    .blogs__section li a .img__box {
      display: block;
      height: 136px;
      margin-bottom: 12px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
    .blogs__section li a img {
      position: absolute;
      top: 50%;
      width: 212px; }
    .blogs__section li a .caption {
      color: #999;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      text-decoration: none;
      text-transform: uppercase; }
    .blogs__section li a .text {
      display: block;
      padding-top: 6px;
      padding-bottom: 4px;
      color: #464646;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px; }
    .blogs__section li a .date {
      color: #959494;
      font-size: 12px;
      font-style: italic; }
    .blogs__section li a:hover .caption {
      color: #404040;
      text-decoration: underline; }

.post__page h2 {
  padding-bottom: 14px;
  color: #4b4b4b;
  font-size: 21px;
  text-transform: uppercase; }
.post__page .blog__img {
  margin-bottom: 10px;
  border: 1px solid #b2b2b2; }
.post__page p {
  margin-bottom: 16px;
  color: #333;
  font-size: 14px;
  line-height: 17px; }
  .post__page p .img__description {
    display: block;
    margin-top: -4px;
    color: #8b8b8b;
    font-size: 10px;
    font-style: italic;
    text-align: left; }
    .post__page p .img__description img {
      display: block;
      max-width: 680px;
      margin-bottom: 0;
      border: 1px solid #B2B2B2; }
.post__page blockquote {
  position: relative;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 52px;
  padding-bottom: 26px;
  padding-left: 68px;
  border-top: 1px dotted #a1a1a1;
  border-bottom: 1px dotted #a1a1a1;
  color: #434343;
  font-size: 17px;
  font-weight: bold;
  text-align: center; }
  .post__page blockquote:before {
    position: absolute;
    left: 10px;
    top: -2px;
    content: '';
    height: 22px;
    width: 15px;
    background: url(../i/flag.png) no-repeat; }
.post__page .tags__section {
  float: left;
  margin-top: 30px;
  margin-bottom: 16px;
  padding-left: 24px;
  background: url(../i/ico-tags.png) no-repeat left bottom;
  color: #959494;
  font-size: 12px;
  font-style: italic; }
  .post__page .tags__section a {
    color: #959494;
    text-decoration: none; }
    .post__page .tags__section a:hover {
      color: #e60000;
      text-decoration: underline; }
.post__page .socials__section {
  padding-bottom: 16px; }
  .post__page .socials__section li {
    float: left; }
.post__page .post__navigation {
  border-top: 1px dotted #a1a1a1; }
  .post__page .post__navigation li {
    display: table;
    float: left;
    width: 340px;
    margin: 14px 0; }
    .post__page .post__navigation li.next {
      float: right; }
  .post__page .post__navigation a {
    display: table-cell;
    height: 30px;
    width: 320px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 42px;
    background: url("../i/post-navigation-left.png") no-repeat;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle; }
    .post__page .post__navigation a:hover {
      background-position: left -156px;
      color: #636363; }
    .post__page .post__navigation a.next {
      background: url("../i/post-navigation-right.png") no-repeat right top;
      padding-left: 0;
      padding-right: 42px;
      text-align: right; }
      .post__page .post__navigation a.next:hover {
        background-position: right -156px; }
.post__page .blogs__section {
  padding-top: 20px;
  border-top: 1px dotted #a1a1a1; }

.footer__section {
  background: #444;
  overflow: hidden; }
  .footer__section .wrap {
    height: 94px; }
  .footer__section .copyright {
    float: left;
    padding-top: 12px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase; }
  .footer__section .contacts {
    float: right;
    padding-top: 12px;
    color: #fff;
    font-size: 11px;
    font-weight: bold; }
    .footer__section .contacts span {
      color: #adec3f; }
  .footer__section li {
    margin-top: 14px;
    margin-right: 14px;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 18px;
    float: left;
    background: url("../i/footer-social-spr.png") no-repeat; }
    .footer__section li.vk {
      background-position: left -14px; }
    .footer__section li.lj {
      background-position: left bottom; }
    .footer__section li a {
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase; }
