@import "compass";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext);
$experimental-support-for-svg: true;

body {
  padding-top: 143px;
  background: #FFF;
  color: #838383;
  font: {
    family: "PT Sans", sans-serif;
    size: 14px;
  }
  line-height: 16px;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

.header__section {
  position: fixed;
  top: 0;

  height: 69px;
  width: 100%;

  background-color: #156197;
  @include filter-gradient(#156197, #0f4d79, vertical);
  @include background-image(linear-gradient(top,  #156197 0%,#156197 51%,#155f94 66%,#125789 87%,#0f4d79 100%));
  @include pie-clearfix;
  z-index: 2;

  h1 {
    height: 30px;
    width: 188px;
    float: left;

    margin-top: 20px;

    background: url("../i/header/logo.png") no-repeat;

    > a {
      height: 30px;
      display: block;
    }
  }

  .slogan {
    float: left;

    margin-top: 8px;
    margin-left: 6px;

    color: #fff600;
    font: {
      size: 14px;
      style: italic;
      weight: bold;
    }
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
  }

  .addr__section {
    float: right;
    margin-top: 6px;

    > p {
      color: #fff;
      font-size: 12px;
      line-height: 18px;

      > label {
        color: #3CADE6;
      }
    }

  }
}

.menu__section {
  position: fixed;
  top: 69px;

  height: 74px;
  width: 100%;
  background: #fff inline-image("menu/bg.png") repeat-x;
  @include pie-clearfix;
  z-index: 2;

  .navigation__section {
    padding-top: 16px;

    > li {
      height: 46px;
      float: left;
    }

    a {
      padding: {
        top: 16px;
        right: 19px;
        bottom: 14px;
        left: 19px;
      }
      display: inline-block;
      color: #444;
      font: {
        weight: bold;
      }
      text: {
        decoration: none;
        transform: uppercase;
      }
      @include box-sizing(border-box);

      &:hover {
        background: #2CDFFF;
        color: #FFF;
        text-decoration: none;
      }

      &:active, &.current {
        padding: {
          top: 14px;
          right: 17px;
          bottom: 12px;
          left: 17px;
        }
        border: 2px solid #00ccff;
        background: #F4F4F4;
        color: #0CF;
      }

    }

  }

  .basket {
    float: right;

    &.empty {
      width: 138px;
      border: 2px solid #dbd9d9;
      text-align: center;

      > .basket__empty {
        padding-top: 15px;
        padding-bottom: 13px;
        color: #BFBFBF;
        text-transform: uppercase;
      }
    }
  }

}

.carousel__section__main {
  position: relative;
  height: 329px;
  margin-bottom: 4px;

  border-top: 1px solid #828282;
  border-bottom: 1px solid #838383;
  background-color: #c1c1c1;
  @include filter-gradient(#c1c1c1, #c3c3c3, vertical);
  @include background-image(linear-gradient(top,  #c1c1c1 0%,#cacaca 2%,#d1d1d1 2%,#d7d7d7 3%,#d8d8d8 4%,#d8d8d8 59%,#d6d6d6 60%,#dad6d7 61%,#d8d6d7 63%,#dbd7d8 63%,#d7d7d7 63%,#d8d8d8 69%,#d4d4d4 79%,#c5c5c5 95%,#c3c3c3 100%));

  &:after {
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 3px;
    background: #CECECE;
    content: '';
  }

  .wrapper {
    position: relative;
    height: 329px;
    overflow: hidden;
  }

  .items {
    position: absolute;
    width: 20000px;

    > li {
      height: 329px;
      width: 980px;
      float: left;

      @include pie-clearfix;

      .inner__wrapper {
        position: relative;
      }

      img {
        width: 580px;
        float: left;
      }

      .description {
        position: absolute;
        left: 506px;
        top: 40px;
        text-align: center;
      }

      h2 {
        margin-bottom: 10px;
        color: #2CDFFF;
        font: {
          size: 54px;
          weight: bold;
        }
        @include text-shadow(0 1px 1px #fff);
      }

      p {
        margin-bottom: 16px;

        color: #353534;
        font-size: 28px;
        font-weight: bold;
        line-height: 35px;
        text-transform: uppercase;
        @include text-shadow(0 1px 1px #fff);
      }

      .button {
        width: 159px;

        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 13px;
        display: block;

        border: 2px solid #fff;
        background-color: #2bdfff;
        color: #FFF;
        text: {
          decoration: none;
          transform: uppercase;
        }
      }
    }
  }

  .jcarousel-clip {
    width: 980px;
    overflow: hidden;
  }

  .jcarousel-prev {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100px;
    height: 330px;
    background: inline-image('/carousel/arrows-spr.png') no-repeat -1px 138px;
    cursor: pointer;

    &:hover {
      background-position: 1px -213px;
    }
  }

  .jcarousel-prev-disabled {
    visibility: hidden!important;
  }

  .jcarousel-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 68px;
    height: 330px;
    background: inline-image('/carousel/arrows-spr.png') no-repeat right 138px;
    cursor: pointer;

    &:hover {
      background-position: right -213px;
    }

  }
}

.content__section {
  @include pie-clearfix;

  > .left__side {
    width: 292px;
    float: left;
  }

  > .right__side {
    width: 664px;
    padding-top: 30px;
    float: right;
  }
}

h2.caption {
  padding-bottom: 14px;
  color: #444;
  font: {
    size: 20px;
    weight: bold;
  }
  text-transform: uppercase;
}

h3.caption {
  margin-top: 20px;
  margin-bottom: 19px;
  color: #444;
  font-size: 20px;
  font-weight: bold;

  &:first-child {
    margin-top: 0;
  }
}

.intro__section {
    p {
      padding-bottom: 17px;
      line-height: 17px;
    }
}

.side__navigation__section {
  margin-top: 16px;

  .filters__section {
    margin-bottom: 5px;

    border: 2px solid #00ccff;
    @include pie-clearfix;

    label {
      width: 80px;

      padding-top: 16px;
      padding-bottom: 13px;

      float: left;

      background: #004364;
      border-right: 2px solid #00ccff;
      color: #FFF;
      font: {
        size: 14px;
        weight: bold;
      }
      text: {
        align: center;
        transform: uppercase;
      }
    }

    .dropdown {
      width: 204px;
      float: left;

      background: #F4F4F4;

      .active {
        position: relative;
        padding-top: 16px;
        padding-left: 14px;
        padding-bottom: 13px;

        color: #444;
        font-size: 14px;
        text-transform: uppercase;

        .arrow {
          position: absolute;
          top: 16px;
          right: 16px;

          height: 11px;
          width: 15px;

          display: block;
          background: inline-image("arrow.png") no-repeat;

        }
      }
    }
  }

  .list {

    .title {
      padding-top: 12px;
      padding-bottom: 11px;
      padding-left: 10px;

      display: block;
      color: #444;
      font-weight: bold;
      text: {
        decoration: none;
        transform: uppercase;
      }

      &:hover {
        color: #2CDFFF;
      }
    }

    .list__sub {
      display: none;
    }

    .active {
      background: #F4F4F4;
      border: 2px solid #00ccff;
      @include box-sizing(border-box);

      .title {
        padding-top: 10px;
        padding-bottom: 9px;
        padding-left: 8px;
        color: #0CF;
      }

      .list__sub {
        padding-bottom: 15px;
        display: block;

        border-top: 2px solid #00ccff;

        li {
          padding-top: 17px;
          padding-left: 16px;

          &:first-child {
            padding-top: 12px;
          }
        }

        a {
          color: #444;
          font-size: 13px;
          text: {
            decoration: none;
            transform: uppercase;
          }

          &:hover {
            color: #0CF;
          }
        }
      }
    }

  }
}

.preview__list {
  padding-top: 20px;

  &.services__section {
    .list > li {
      margin-bottom: 40px;
    }
  }

  .list {
    margin-top: 6px;
    @include pie-clearfix;

    > li {
      width: 210px;
      float: left;
      margin-right: 16px;
      margin-bottom: 30px;

      &:nth-child(3n){
        margin-right: 0;
      }

      a {
        display: block;
        text-decoration: none;

        &:hover {
          .title {
            color: #2CDFFF;
          }
        }
      }

      .img__section {
        height: 138px;
        width: 208px;
        margin-bottom: 17px;
        display: inline-block;
        border: 1px solid #838383;
        overflow: hidden;

        img {
          height: auto;
          width: 208px;
        }
      }

      .category {
        margin-bottom: 3px;
        display: block;
        color: #0CF;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .title {
        margin-bottom: 6px;
        display: block;
        color: #777;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        text-transform: uppercase;
      }

      .date {
        display: block;
        color: #A09F9F;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .price {
        color: #0CF;
        text-transform: uppercase;
      }
    }

  }
}

.texts__section {
  margin-top: 28px;

  > li {

    width: 318px;
    float: left;

    margin-bottom: 28px;
    padding-top: 17px;
    padding-bottom: 15px;

    &:nth-child(2n) {
      float: right;

      &:hover {
        left: inherit;
        right: 11px;
        margin-right: -38px;
      }
    }

    &:hover {
      position: relative;
      left: -18px;

      margin-right: -20px;
      padding-top: 15px;
      padding-right: 20px;
      padding-bottom: 13px;
      padding-left: 16px;

      width: 323px;
      border: 2px solid #2cdfff;
      text-decoration: underline;
    }

    a {
      display: block;
      color: #444;
      text-decoration: none;
    }

    .caption {
      margin-bottom: 5px;
      display: block;
      color: #444;
      font: {
        size: 15px;
        weight: bold;
      }
      text-transform: uppercase;
    }

    .text {
      color: #444;
      font-size: 13px;
      line-height: 14px;
    }

  }
}

.button__show__more {
  position: relative;

  min-height: 1px;
  width: 100%;

  margin-top: 21px;
  margin-bottom: 23px;

  display: block;
  border-bottom: 2px solid #dbd9d9;
  text-decoration: none;

  &:hover {
    border-color: #2cdfff;

    > span {
      background: #2CDFFF;
      border-color: #2cdfff;
      color: #FFF;
      cursor: pointer;
      text-decoration: none;
    }
  }

  > span {
    position: absolute;
    top: -21px;
    left: 50%;

    margin-left: -69px;
    padding: {
      top: 15px;
      bottom: 13px;
    }

    width: 138px;

    background: #FFF;
    border: 2px solid #dbd9d9;
    color: #bfbfbf;
    text-align: center;
    text-transform: uppercase;

    &:before, &:after {
      position: absolute;
      top: 0;

      height: 100%;
      width: 6px;

      background: #FFF;
      content: '';
    }

    &:before {
      left: -8px;
    }

    &:after {
      right: -8px;
    }

  }
}

.text__post {

  .post__img {
    border: 2px solid #0cceff;
  }

  p {
    margin-bottom: 18px;
  }

}


















